@charset "UTF-8";
@media screen {
  font[size="5"] {
    color: #610e04;
  }
  /* Global */
  body {
    margin: 0;
    border-top: 5px solid #7e7e7e;
  }
  a {
    color: #ef7101;
  }
  img {
    border: 0;
  }
  p {
    margin: 20px 0;
  }
  /* Layout*/
  .wrapper {
    margin: auto;
    max-width: 960px;
  }
  header {
    padding: 20px 0;
  }
  footer {
    clear: both;
    background: #a14135;
    color: #ef7101;
    font-size: 11px;
  }
  footer p {
    margin: 5px 0;
  }
  body {
    color: black;
    font-size: 20px;
    font-variant: small-caps;
    line-height: 1.5;
    background-color: #fb5c01;
    background: repeating-linear-gradient(45deg, #610e04, #a14135 10px, #ff980b 10px, #fb5c01 20px);
  }
  body > p {
    font-size: em;
    letter-spacing: 2px;
  }
  ul {
    text-transform: capitalize;
  }
  h1 {
    font-size: 2em;
    text-align: center;
  }
  h2 {
    text-align: center;
    font-size: 1, 5em;
  }
  ul.bag > li > a:hover {
    color: black;
  }
  table {
    border: 4px double black; /* Параметры границы */
    background: #610e04; /* Цвет фона */
    padding: 10px;
  }
  td > img:hover {
    transition: 2s;
    transform: scale(1.1);
    transform: rotate(360deg);
  }
  img.cat {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  @-webkit-keyframes slidein {
    from {
      margin-left: 76%;
      width: 50;
    }
    to {
      margin-left: 20%;
      width: 50;
    }
  }
  @keyframes slidein {
    from {
      margin-left: 76%;
      width: 50;
    }
    to {
      margin-left: 20%;
      width: 50;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
  }
  .photo:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%;
    top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255, 255, 230, 0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
  }
  .scale {
    transition: 1s;
  }
  .scale:hover {
    transform: scale(1.2);
  }
}
@media print { /* Стиль для печати */
  BODY {
    font-family: Times, "Times New Roman", serif; /* Шрифт с засечками */
  }
  H1, H2, P {
    color: black; /* Чёрный цвет текста */
  }
}